<app-header></app-header>
<div class="container center home-div">
    <h1> Hello {{userStateService.getUserFirstName()}} {{userStateService.getUserLastName()}} </h1>
    <hr>
    <img src="assets/profile_picture.png" width="20%" height="25%"/>
        <h2>This website developed by</h2>
        <h2 class="myName">Elad Nisan</h2>
        <h2>Full Stack Developer</h2>
        <hr>
       <a href="https://www.linkedin.com/in/elad-nisan-75022b140"><i class="fab fa-linkedin-in"> My linkedin</i></a>
       <h6><i class="fas fa-phone"></i> 0526835291</h6>
</div>
